
form(method='POST',action='/killswitch')
  if killswitch
    p killswitch enabled
    p= Math.round(kill_expiry / 60) + 'mins remaining.'
    button(name='action',value='disable') Disable
  else killswitch
    p killswitch disabled
    select(name='time')
      option(value='900', selected='selected') 15 mins
      option(value='1800') 30 min
      option(value='2700') 45 mins
      option(value='3600') 1 hour
      option(value='7200') 2 hours
      option(value='14400') 4 hours
      option(value='28800') 8 hours
      option(value='43200') 12 hours
    button(name='action', value='enable') Enable

